<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body>
<h2>Reset Password</h2>

<!-- Display success or error messages -->
<div th:if="${msg}" class="alert alert-success" role="alert" th:text="${msg}"></div>

<form th:action="@{/reset_password}" method="post">
    <input type="hidden" th:name="token" th:value="${token}">
    <label for="password">New Password:</label>
    <input type="password" id="password" name="password" required>
    <button type="submit">Submit</button>
</form>
</body>
</html>
